{% block acris_partial_delivery_delivery_shipping_method_order %}
    {% set activeShippingMethod = null %}
    {% set deliveryId = delivery.extensions.acrisPartialDelivery.id %}
    {% set singleActiveDelivery = false %}
    {% if deliveryId is empty and (page.order.deliveries|length == 1 or page.order.deliveries|length == 1) %}{% set singleActiveDelivery = true %}{% endif %}

    {% set shipping = delivery.shippingMethod %}

    <div class="partial-delivery acris-partial-delivery-selection-checkbox">
        <div>
            {% set shippingMethodInvalid = true %}

            {% block page_checkout_confirm_shipping_title_order %}
                <div class="partial-delivery__shipping-title">
                    {{ "checkout.confirmShippingMethod"|trans|sw_sanitize }}
                </div>
            {% endblock %}

            {% set formAjaxSubmitOptions = {
                changeTriggerSelectors: ['.shipping-method-input-partial-delivery']
            } %}

            {% block page_checkout_change_shipping_form_element_partial_delivery_order %}
                <form id="changeShippingForm"
                      name="changeShippingForm"
                      action="{% if singleActiveDelivery %}{{ path('frontend.checkout.configure') }}{% else %}{{ path('frontend.acris-partial-delivery.configure-deliveries') }}{% endif %}"
                      data-form-csrf-handler="true"
                      data-form-auto-submit="true"
                      data-form-auto-submit-options='{{ formAjaxSubmitOptions|json_encode }}'
                      method="post">

                    {% block page_checkout_change_shipping_form_csrf_partial_delivery_order %}
                        {% if singleActiveDelivery %}{{ sw_csrf('frontend.checkout.configure') }}{% else %}{{ sw_csrf('frontend.acris-partial-delivery.configure-deliveries') }}{% endif %}
                    {% endblock %}

                    {% block page_checkout_change_shipping_form_redirect_partial_delivery_order %}
                        <input type="hidden" name="redirectTo" value="{{ redirectPath }}">
                    {% endblock %}
                    {% set visibleShippingMethodsLimit = 5 %}

                    {% block page_checkout_change_shipping_form_fields_partial_delivery_order %}
                        {% sw_include '@Storefront/storefront/component/partial-delivery/delivery-shipping-fields-order.html.twig' with {
                            'visibleShippingMethodsLimit': 5
                        } %}
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
