{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_container %}

    {% set services = getServices() %}
    {% set maxAdults = 0 %}
    {% for property in product.properties.elements %}
        {% if property.groupId == "38e8d480b24d4bd88a4aed3bb9ed6242" %}
            {% set maxAdults = property.name %}
        {% endif %}
    {% endfor %}

    <div>
        <span>Start Date</span>
        <input type="date"
                class="form-control"  
                name="lineItems[{{ product.id }}][startDate]" 
                value="{{ 'now'|date('Y-m-d') }}"/>

        <br/>

        <span>End Date</span>
        <input type="date"
                class="form-control"
                name="lineItems[{{ product.id }}][endDate]"
                value="{{ 'now'|date_modify('+1 day')|date('Y-m-d') }}"/>

        <br/>

        <div style="display: flex; flex-direction: row;">
            <div style="margin-right: 10px; width: 50%;">
                <span>Adults</span>
                <select class="form-control"
                        name="lineItems[{{ product.id }}][adults]"
                        value="1">
                    {% for i in range(1, maxAdults) %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="width: 50%;">
                <span>Childrens</span>
                <input type="number"
                        class="form-control"
                        name="lineItems[{{ product.id }}][childrens]"
                        value="0"/>
            </div>
        </div>

        <br/>

        <h3>Services</h3>

        <div style="width: calc(100% - 10px); display: grid; grid-template-columns: 50% 50%; grid-gap: 10px;">
            {% for service in services %}
                <div style="width: 100%; display: flex; flex-direction: row; 
                            align-items: center; justify-content: space-between; 
                            padding: 10px; border: 1px solid #e6e6e6;">
                    {% set price = service.price.elements|first %}
                    <div>
                        <span>{{ service.name }}</span>
                        <span style="font-weight: bold; color: #d64405;"> +{{ price.gross|currency }}</span>
                    </div>
                    <input type="checkbox"
                            name="lineItems[{{ product.id }}][{{ service.id }}]"/>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if buyable %}
        <div class="form-row buy-widget-container">
            {% block page_product_detail_buy_quantity_container %}
                <div class="col-8">
                    {% block page_product_detail_price %}
                        <div class="product-detail-price-container">
                            {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
                        </div>
                    {% endblock %}
                    {% block page_product_detail_tax %}
                        <div class="product-detail-tax-container">
                            {% if context.taxState == "gross" %}
                                {% set taxText = "general.grossTaxInformation"|trans|sw_sanitize %}
                            {% else %}
                                {% set taxText = "general.netTaxInformation"|trans|sw_sanitize %}
                            {% endif %}
                            <div class="product-detail-tax">
                                {% block page_product_detail_tax_link %}
                                    {# <a class="product-detail-tax-link"
                                        href="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}"
                                        title="{{ taxText }}"
                                        data-toggle="modal"
                                        data-url="{{ path('frontend.cms.page',{ id: config('core.basicInformation.shippingPaymentInfoPage') }) }}">
                                        {{ taxText }}
                                    </a> #}
                                    {% set tax = product.calculatedPrice.calculatedTaxes.elements|first %}
                                    inkl. {{ tax.taxRate }}% MwSt., zzgl. Versandkosten
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                </div>
                <div class="col-4 product-detail-quantity-select-box">
                    {% block page_product_detail_buy_quantity %}
                        <input name="lineItems[{{ product.id }}][quantity]"
                                type="hidden"
                                class="custom-select product-detail-quantity-select" value="1"/>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        <div class="breaker"></div>

        <div class="form-row buy-widget-container">
            {% block page_product_detail_buy_redirect_input %}
                {# fallback redirect back to detail page is deactivated via js #}
                <input type="hidden"
                        name="redirectTo"
                        value="frontend.detail.page">
                <input type="hidden"
                        name="redirectParameters"
                        data-redirect-parameters="true"
                        value='{"productId": "{{ product.id }}"}'>
            {% endblock %}

            {% block page_product_detail_buy_product_buy_info %}
                <input type="hidden"
                        name="lineItems[{{ product.id }}][id]"
                        value="{{ product.id }}{{ random() }}">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][type]"
                        value="product">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][referencedId]"
                        value="{{ product.id }}">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][stackable]"
                        value="1">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][removable]"
                        value="1">
            {% endblock %}
            {% block page_product_detail_product_buy_meta %}
                <input type="hidden"
                        name="product-name"
                        value="{{ product.translated.name }}">
                <input type="hidden"
                        name="brand-name"
                        value="{{ product.manufacturer.getName() }}">
            {% endblock %}
            {% block page_product_detail_buy_button_container %}
                <div class="col">
                    {% block page_product_detail_buy_button %}
                        <button class="btn btn-primary btn-block btn-buy"
                                title="{{ "detail.addProduct"|trans|striptags }}"
                                aria-label="{{ "detail.addProduct"|trans|striptags }}">
                            {{ "detail.addProduct"|trans|sw_sanitize }}
                        </button>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
